@media screen and (width<=1400px) {
  #projects {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (width<=1110px) {
  #projects {
    grid-template-columns: repeat(3, 1fr);
  }
  .serviceCards {
    flex-direction: column;
  }
  .card {
    width: 60vw;
  }
}

@media screen and (width<=960px) {
  #projects {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 0.25rem;
  }
  .projectImg {
    width: 13rem;
  }
}

@media screen and (width<=880px) {
}
