@media screen and (width<=1200px) {
  .imgDiv {
    width: 27vw;
  }

  .projectInfo {
    padding: 0rem 2rem;
  }

  .projectTitle {
    margin: 0.2rem;
    font-size: 1.8rem;
  }

  .projectDescription {
    font-size: 1.1rem;
  }

  .projectPath {
    font-size: 1.5rem;
    margin: 0.5rem;
  }
}

@media screen and (width<=1150px) {
  #projects {
    grid-template-columns: repeat(3, 1fr);
  }

  .serviceCards {
    flex-direction: column;
  }

  .card {
    width: 60vw;
  }

  nav {
    padding: 0;
  }

  nav > a > img {
    margin: 0.1rem;
    width: 4.5rem;
  }
}

@media screen and (width<=1000px) {
  .projectInfo {
    transform: translateY(150%);
  }

  .projectTitle {
    margin: 0.1rem;
    font-size: 1.4rem;
  }

  .projectDescription {
    font-size: 0.9rem;
  }

  .projectPath {
    font-size: 1.2rem;
    margin: 0.5rem;
  }
}

@media screen and (width<=970px) {
  #projects {
    column-gap: 0.25rem;
    gap: 1.5rem;
  }

  .imgDiv {
    width: 28vw;
  }

  .projectInfo {
    padding: 0 1rem;
  }
}

@media screen and (width<=780px) {
  #projects {
    grid-template-columns: repeat(2, 1fr);
  }

  .imgDiv {
    width: 40vw;
  }

  .projectTitle {
    margin: 0.5rem;
    font-size: 2.2rem;
  }

  .projectDescription {
    font-size: 1.1rem;
  }

  .projectPath {
    font-size: var(--fontPara);
    font-size: 2rem;
    margin: 0.7rem;
  }

  #about {
    flex-direction: column;
  }

  .aboutData {
    width: 90%;
    margin-left: 0;
    max-width: 80vw;
  }

  .aboutImg {
    margin: 3rem;
  }

  .homeContainer {
    flex-direction: column;
  }

  .homeImg {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3rem 0;
  }

  /* Nav links */

  nav {
    flex-direction: column;
    position: relative sticky;
  }

  #listItems {
    /* visibility: hidden; */
    position: absolute;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(100%);
    background: none;
    visibility: hidden;
    opacity: 0;
  }
}
