* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  scroll-behavior: smooth;
  transition: all ease 0.3s;
  color: var(--fontClr);
}

body {
  background-color: var(--bg1);
}

nav {
  display: flex;
  justify-content: space-around;
  padding: 0.2rem;
  background: var(--bg1);
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 3;
  top: 0;
  overflow: hidden;
}

nav > div > a > img {
  width: 6rem;
  border: 2px solid var(--themeColor);
  border-radius: 50%;
  margin: 0.5rem;
}

nav > a > img:hover {
  transform: scale(1.1);
}

#listItems {
  display: flex;
}

#listItems > li {
  list-style: none;
  margin: 0.5rem;
}

#listItems > li > a {
  text-decoration: none;
  font-size: var(--fontPara);
}

#listItems > li > a:hover {
  color: var(--themeColor);
  text-shadow: var(--hoverEffect);
  font-size: 1.2rem;
}

#navBars {
  visibility: hidden;
}

/* Home */

#home {
  margin-top: 10rem;
}

.homeData {
  line-height: 1.1;
  font-weight: bold;
  margin-right: 1rem;
}

.homeData > h2 {
  font-size: 2.2rem;
}

.homeData > h1 {
  font-size: 3.3rem;
  margin: 1rem 0;
}

.homeData > h3 {
  font-size: var(--fontSubheading);
}

.homeData > p {
  margin: 1rem 0;
  font-size: var(--fontPara);
  text-align: justify;
  font-weight: 500;
}

.homeContainer {
  display: flex;
  justify-content: space-around;
}

.myImg {
  width: 19rem;
  box-shadow: var(--hoverEffect);
  border: 2px solid var(--bg2);
  border-radius: 1rem;
  margin-left: 1rem;
  cursor: pointer;
}

.myImg:hover {
  filter: brightness(70%);
  transform: scale(1.03);
}

.social,
.social > a {
  font-size: 1.6rem;
  margin: 2rem 0;
}

.socialIcons {
  color: var(--themeColor);
  margin: 0 0.5rem;
  border: 0.15rem solid var(--themeColor);
  border-radius: 50%;
  padding: 0.5rem;
}

.socialIcons:hover {
  box-shadow: var(--hoverEffect);
  background: var(--themeColor);
  color: var(--bg1);
}

/* About */

#about {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: justify;
  background: var(--bg2);
}

.aboutData {
  margin-left: 3rem;
  max-width: 50vw;
}

.aboutData > h2 {
  font-weight: bold;
  margin: 0.5rem 0;
  font-size: var(--fontSubheading);
}

.aboutData > p {
  margin: 2rem 0;
  line-height: 1.2;
  font-size: var(--fontPara);
}

/* Services */

.serviceCards {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  margin: 1rem;
  margin-top: 0;
  text-align: center;
  background: var(--bg2);
  padding: 1rem;
  border-radius: 1rem;
  border: 2px solid var(--bg2);
  width: 25vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card:hover {
  border: 2px solid var(--themeColor);
  cursor: pointer;
  box-shadow: var(--hoverEffect);
  transform: scale(1.05);
}

.cardTitle {
  margin: 1rem;
  font-size: 1.7rem;
}

.card > p {
  margin: auto;
  padding: 1rem;
  margin-bottom: 1rem;
  line-height: 1.2;
}

.cardIcon {
  font-size: 2.5rem;
  color: var(--themeColor);
}

/* Portfolio */

#portfolio {
  background: var(--bg2);
}

#projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
  align-items: center;
  place-items: center;
}

.imgDiv {
  position: relative;
  overflow: hidden;
  display: flex;
  border-radius: 1rem;
  width: 23vw;
}

.projectImg {
  width: 100%;
}

.projectInfo {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(200deg, rgba(0, 0, 0, 0.1), var(--themeColor));
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 4rem;
  transform: translateY(100%);
}

.projectTitle {
  margin: 0.5rem;
  font-size: 2.2rem;
}

.projectDescription {
  font-size: 1.1rem;
}

.projectPath {
  font-size: var(--fontPara);
  font-size: 2rem;
  margin: 0.7rem;
}

.projectPath:hover {
  cursor: pointer;
  color: var(--themeColor);
}

.imgDiv:hover .projectImg {
  transform: scale(1.1);
}

.imgDiv:hover .projectInfo {
  transform: translateY(0);
}

/* Contact */

#contactForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90vw;
  margin: auto;
  align-items: center;
}

#contactForm > textarea {
  background-color: var(--bg2);
  border: none;
  width: 90%;
  padding: 1rem;
  margin: 0.5rem;
  font-size: var(--fontPara);
  font-family: "Courier New", Courier, monospace;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.group {
  margin: 0.5rem 0;
  width: 91%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.group:nth-child(1) {
  margin-top: 0;
}

.group > input {
  font-family: "Courier New", Courier, monospace;
  background-color: var(--bg2);
  border: none;
  width: 100%;
  padding: 1rem;
  margin: 0 0.5rem;
  font-size: var(--fontPara);
  border-radius: 1rem;
}

#fromBtn {
  width: 13rem;
}

/* Footer */

.upArrow {
  font-size: var(--fontSubheading);
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 3rem;
  padding: 0.2rem;
  z-index: 3;
  cursor: pointer;
  border: 2px solid var(--themeColor);
  background: var(--themeColor);
  color: var(--bg1);
  border-radius: 0.3rem;
}

.upArrow:hover {
  box-shadow: var(--hoverEffect);
  color: var(--themeColor);
  background: var(--bg1);
}

#footer {
  height: 10vh;
  background: var(--bg2);
  text-align: center;
}

.footerSocial,
.copyright,
.footerData {
  background: var(--bg2);
}

.footerData > h1 {
  font-weight: 500;
  padding: 1rem;
}

.footerData > p {
  width: 60vw;
  margin: auto;
  padding: 1rem;
}

.copyright {
  padding: 1rem;
  padding-top: 2rem;
  font-size: 1.2rem;
  font-weight: 500;
}

.footerIcons {
  color: var(--themeColor);
  margin: 0 0.5rem;
  border: 0.15rem solid var(--themeColor);
  border-radius: 50%;
  padding: 0.3rem;
  font-size: 1.5rem;
}

.footerIcons:hover {
  box-shadow: var(--hoverEffect);
  background: var(--themeColor);
  color: var(--bg1);
}
