:root {
  --themeColor: #05e1f1;
  --bg1: #20232f;
  --bg2: #323744;
  --fontClr: #ffffff;
  --m1: 1rem;
  --fontPara: 1.1rem;
  --fontSubheading: 1.7rem;
  --hoverEffect: 0 0 10px var(--themeColor);
}

a {
  text-decoration: none;
}

.section {
  padding: 6vw;
  height: 100vh;
}

.hr {
  width: 85vw;
  margin: auto;
  color: var(--bg1);
}

.themeTxt {
  color: var(--themeColor);
}

.sectionHeading {
  font-size: 3rem;
}

.sech1 {
  margin-bottom: 4vw;
  text-align: center;
}

.btn {
  background: var(--themeColor);
  padding: 0.7rem 1.7rem;
  font-size: 1.2rem;
  font-weight: bold;
  border: 2px solid var(--themeColor);
  border-radius: 40px;
  box-shadow: var(--hoverEffect);
  color: var(--bg2);
  margin: 1rem 0;
}

.btn:hover {
  cursor: pointer;
  transform: scale(1.05);
  background: var(--bg1);
  color: var(--fontClr);
}
